@inject EventHub _eventHub
@inject RememberForm _rememberForm
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter title</h1>

<p>testValue = @testValue</p>

<p role="status">Current count: @currentCount</p>

<p>remembered: @(_rememberedForm.a), @(_rememberedForm.b)</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCount2">Click me2</button>
<button class="btn btn-primary" @onclick="Remember">Remember test form</button>
<button class="btn btn-primary" @onclick="GetRemember">GetRemember test form</button>

@if(loading)
{
    <h1>Ładuje...</h1>
}
else
{
    <h1>Załadowano</h1>
}

@code {
    struct SampleStruct
    {
        public int a { get; set; }
        public int b { get; set; }
    }

    private bool loading { get; set; } = true;
    private int currentCount = 0;
    private string testValue = "";
    private SampleStruct _rememberedForm;

    private SampleStruct sampleForm = new SampleStruct
        {
            a = 100,
            b = 321
        };

    private async Task IncrementCount()
    {
        currentCount++;
        await _eventHub.InvokeVoidAsync("test", 1, 2, 3);
    }

    private async Task Remember()
    {
        sampleForm.a++;
        await _rememberForm.Remember("testForm", sampleForm);
    }

    private async Task GetRemember()
    {
        _rememberedForm = await _rememberForm.Get<SampleStruct>("testForm");
    }

    private async Task IncrementCount2()
    {
        currentCount++;
        var foo = await _eventHub.InvokeAsync<SampleStruct>("test", 1, 2, 3);
        testValue = $"foo: {foo.a} {foo.b}";
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(200);
        loading = false;
        await _eventHub.NotifyPageReady();
    }
}
