@page "/"
@inject RPGServer server;

<PageTitle>Index</PageTitle>

<h1>Players joined recently:</h1>

<ul>
@foreach (var pair in _players)
{
    <li>@pair.Item1: @pair.Item2.Name</li>
}
</ul>

@code{
    private List<(DateTime, IRPGPlayer)> _players = new();

    private void PlayerJoined(IRPGPlayer player)
    {
        InvokeAsync(() =>
        {
            _players.Add((DateTime.Now, player));
            StateHasChanged();
        });
    }

    protected override void OnInitialized()
    {
        server.PlayerJoined += PlayerJoined;
        base.OnInitialized();
    }

}