@page "/realmUi/counter1B"
@layout RealmGuiBaseLayout<Counter1Gui>
@inject NavigationManager _navigationManager
<PageTitle>Counter</PageTitle>

<h1>Counter1B</h1>

<p role="status">Current count: @currentCount (initial: @InitialCounter)</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Navigate">Navigate</button>

@foreach (var events in Gui.Player.Events)
{
    <div>@events.DateTime - @events.Metadata</div>
}

@code {
    [CascadingParameter]
    private Counter1Gui Gui { get; set; }

    [SupplyParameterFromQuery(Name = "initialCounter")]
    public int InitialCounter { get; set; }
    private int currentCount = 0;

    private void Navigate()
    {
        _navigationManager.NavigateTo("/realmUi/counter2B");
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnParametersSet()
    {
        Gui.Test();
        Gui.Player.Events.Added += (_1, _2) => InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(500);
            currentCount++;
            await InvokeAsync(StateHasChanged);
        }
    }
}
