@page "/realmUi/counter1"
@inject NavigationManager _navigationManager
<PageTitle>Counter</PageTitle>

<h1>Counter1: @Player.Name</h1>
<img src="https://i.imgur.com/lVlPvCB.gif" />
<iframe width="560" height="315" src="https://www.youtube.com/embed/pdjQThUc0dk?si=u7paJkAoUjRxYMfv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Navigate">Navigate</button>

@code {
    [CascadingParameter]
    private RealmPlayer Player { get; set; }

    private int currentCount = 0;

    private void Navigate()
    {
        _navigationManager.NavigateTo("/realmUi/counter2");
    }

    private void IncrementCount()
    {
        currentCount++;
    }


    // protected override async Task OnInitializedAsync()
    // {
    //     await Task.Delay(500);
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(500);
            currentCount++;
            await InvokeAsync(StateHasChanged);
        }
    }
}
