@page "/realmUi/counter2B"
@inject NavigationManager _navigationManager
<PageTitle>Counter</PageTitle>

<h1>Comp2</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Navigate">Navigate</button>

@code {
    [CascadingParameter]
    private Counter2Gui Gui { get; set; }

    private int currentCount = 0;

    private void Navigate()
    {
        _navigationManager.NavigateTo("/realmUi/counter1B");
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        Gui.Test();
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(500);
            currentCount++;
            await InvokeAsync(StateHasChanged);
        }
    }
}
