@page "/realmUi/login"
@layout RealmGuiBaseLayout<LoginGui>
<PageTitle>login</PageTitle>

<button @onclick="HandleLoginAdmin">login admin</button>
<button @onclick="HandleLoginUser">login user</button>

@code{
    [CascadingParameter]
    private LoginGui Gui { get; set; }

    private async Task HandleLoginAdmin()
    {
        await Gui.LoginAdmin();
    }

    private async Task HandleLoginUser()
    {
        await Gui.LoginUser();
    }
}